1. Import Dependencies

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Nominal - One-Hot Encoding - No inherit order -> aviods implying false ordinal relatonships
Ordinal - Label Encoding - Preserves Order -> Small integers represnts increasing levels

Gender -> Nominal 
Geography -> Nominal
CreditScoreBins -> Ordinal

In [2]:
df = pd.read_csv('data/processed/ChurnModelling_Binning_Applied.csv')
df.head(10)

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,Excellent
5,Spain,Male,44.00,8,113755.78,2,1,0,149756.71,1,Fair
6,France,Male,50.00,7,0.00,2,1,1,10062.80,0,Excellent
7,Germany,Female,29.00,4,115046.74,4,1,0,119346.88,1,Poor
8,France,Male,44.00,4,142051.07,2,0,1,74940.50,0,Poor
9,France,Male,27.00,2,134603.88,1,1,1,71725.73,0,Good

2. Encode Ordinal Variables

In [3]:
credit_score_dummies = pd.get_dummies(df['CreditScoreBins'],prefix="CreditScore")

df_encoded = pd.concat([df, credit_score_dummies],axis=1)
del df_encoded['CreditScoreBins']
df_encoded

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Excellent,CreditScore_Fair,CreditScore_Good,CreditScore_Poor,CreditScore_Very Good
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,False,True,False,False,False
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,False,True,False,False,False
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,False,False,False,True,False
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,False,False,True,False,False
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,France,Male,39.00,5,0.00,2,1,0,96270.64,0,False,False,False,False,True
9996,France,Male,35.00,10,57369.61,1,1,1,101699.77,0,False,False,False,True,False
9997,France,Female,36.00,7,0.00,1,0,1,42085.58,1,False,False,True,False,False
9998,Germany,Male,42.00,3,75075.31,2,1,0,92888.52,1,False,False,False,False,True
9999,France,Female,28.00,4,130142.79,1,1,0,38190.78,0,False,False,False,False,True